@import url("https://www.fontsquirrel.com/fonts/source-sans-pro#link");
@import url("https://www.fontsquirrel.com/fonts/Spin-Cycle-OT#link");



/*Header and Menu
=================*/

.header {
border: 1px solid black;
width: 80%;
display: flex;
justify-content: space-between;
top: 18px;
align-items: center;
}

.nav-menu .menu-items {
  list-style-type: none;
}

button {
  background-color: #ff6565;
  color: white;
  height: 36px;
  width: 150px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  
}